.Header {
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 30px;
  --ion-toolbar-color: white;
  --ion-toolbar-background: black;
}

.ionTitle {
  font-size: 30px;
}

.mainSet_button {
  padding: 0;
  margin: 0;
}
.card {
  color: #f5f6f9;
}

.cardHeader {
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.person {
  display: flex;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
}

img.avatar {
  width: 50px;
  height: 50px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: inline-block;
  padding-left: 15px;
  font-size: 18px;
}

.sub-title {
  display: inline-block;
  padding-left: 15px;
  height: 10px;
  font-size: 13px;
}

ion-button.edit-button {
  color: black;
  /* background-color: white; */
  padding-bottom: 18px;
  padding-left: 15px;
  width: 65px;
}

.cardContent {
  padding-top: 0px;
}

.memo {
  display: flex;
  background-color: #f1f1f1;
  color: black;
  line-height: 20px;
  font-size: 15px;
  padding: 10px;
  /*   background-color: #1c3786; */
}

.my-custom-class .modal-wrapper .ion-page {
  display: inline;
}

.camera {
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
}

.cameraIcon {
  position: absolute;
  /* -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); */
  margin: 0;
  top: 68%;
  left: 9%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#filename {
  display: none;
}

.empty {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  text-align: center;
}

ion-content {
  /*--background: "#000000";*/
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.ion-color-test {
  --ion-color-base: var(--ion-color-test);
  --ion-color-base-rgb: var(--ion-color-test-rgb);
  --ion-color-contrast: var(--ion-color-test-contrast);
  --ion-color-contrast-rgb: var(--ion-color-test-contrast-rgb);
  --ion-color-shade: var(--ion-color-test-shade);
  --ion-color-tint: var(--ion-color-test-tint);
}
