.Header {
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 30px;
  --ion-toolbar-color: white;
  --ion-toolbar-background: black;
}

.ionTitle {
  font-size: 30px;
}

.mainSet_button {
  padding: 0;
  margin: 0;
}
.card {
  color: #f5f6f9;
}

.cardHeader {
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.person {
  display: flex;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
}

img.avatar {
  width: 50px;
  height: 50px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: inline-block;
  padding-left: 15px;
  font-size: 18px;
}

.sub-title {
  display: inline-block;
  padding-left: 15px;
  height: 10px;
  font-size: 13px;
}

ion-button.edit-button {
  color: black;
  /* background-color: white; */
  padding-bottom: 18px;
  padding-left: 15px;
  width: 65px;
}

.cardContent {
  padding-top: 0px;
}

.memo {
  display: flex;
  background-color: #f1f1f1;
  color: black;
  line-height: 20px;
  font-size: 15px;
  padding: 10px;
  /*   background-color: #1c3786; */
}

.my-custom-class .modal-wrapper .ion-page {
  display: inline;
}

.modal-avatar {
  position: relative;
}
ion-avatar.avatar-ionic.md.hydrated {
  height: 100%;
  width: 100%;
}

.camera {
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
}

.cameraIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  font-size: 30px;
}

#filename {
  display: none;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  color: black;
  line-height: 20px;
  font-size: 15px;
  padding: 10px;
}
.tag-wrapper {
  color: #4c8dff;
  background-color: #f1f1f1;
}

.tag-wrapper a {
  /*よくない*/
  color: inherit !important;
  text-decoration: none;
  background-color: #f1f1f1;
}

.tag-wrapper a:hover {
  color: inherit !important;
  text-decoration: underline;
  background-color: #f1f1f1;
}

.tag-wrapper a:visited {
  color: inherit !important;
  text-decoration: underline;
  background-color: #f1f1f1;
}

.empty {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  text-align: center;
}

.tag-group {
  display: flex;
  flex-direction: column;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

.ion-color-test {
  --ion-color-base: var(--ion-color-test);
  --ion-color-base-rgb: var(--ion-color-test-rgb);
  --ion-color-contrast: var(--ion-color-test-contrast);
  --ion-color-contrast-rgb: var(--ion-color-test-contrast-rgb);
  --ion-color-shade: var(--ion-color-test-shade);
  --ion-color-tint: var(--ion-color-test-tint);
}

.date-changed {
  color: black;
}
.date-empty {
  color: rgb(143, 143, 143);
}

@media (prefers-color-scheme: dark) {
  .hashtags {
    display: flex;
    flex-wrap: wrap;
    background-color: #494949;
    color: black;
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
  }

  .tag-wrapper {
    color: #47c5ff;
    background-color: #494949;
  }

  .tag-wrapper a {
    /*よくない*/
    color: inherit !important;
    text-decoration: none;
    background-color: #494949;
  }

  .tag-wrapper a:hover {
    color: inherit !important;
    text-decoration: underline;
    background-color: #494949;
  }

  .tag-wrapper a:visited {
    color: inherit !important;
    text-decoration: underline;
    background-color: #494949;
  }

  .date-changed {
    color: #ffffff;
  }
  .date-empty {
    color: #7a7a7a;
  }
}
